/*
*  STYLES.CSS
*  PUT YOUR CUSTOM CLASSES AND STYLES HERE
*/

.navbar {
  border-radius: 0px;
}

.jumbotron {
	background-color: #222;
	color: #f2f2f2;
}

.header h1 {
	display: inline-block;
}

.post-count {
	display: inline-block;
	float: right;
	margin-top: 30px;
	color: #ccc;
}

textarea {
	resize: none;
}

.add-comment {
	float: right;
	position: relative;
	top: -8px;
	/*margin-top: -30px;*/
}

.panel-footer {
	padding-bottom: 25px;
}

.panel-footer > h5 {
	display: inline;
	position: relative;
	/*margin-top: 20px;*/
	top: 8px;
}