body {
	background-color: #F0F4F7;
}

.navbar {
  border-radius: 0px;
}

.jumbotron {
	background-color: #222;
	color: #f2f2f2;
}

.header h1 {
	display: inline-block;
}

.post-count {
	display: inline-block;
	float: right;
	margin-top: 30px;
	color: #ccc;
}

textarea {
	resize: none;
}

.add-comment {
	float: right;
	position: relative;
	top: -8px;
}

.panel-footer {
	padding-bottom: 25px;
}

.panel-footer > h5 {
	display: inline;
	position: relative;
	top: 8px;
}

.form-control.comment-input {
	margin: 10px;
	width: 580px;
	margin-right: 5px;
}

.post-date {
	float: right;
	color: #ccc;
	font-weight: 300;
}

.comment-date {
	float: right;
	color: #ccc;
	font-weight: 300;
}

.edit-post {
	cursor: pointer;
}

.edit-post .no-underline:hover {
	text-decoration: none;
}




